<!doctype html>
<html lang="en" ng-app="myModule">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="./script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="myController">
    <div>

        <br>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th ng-click="sortData('name')">
                        Name
                        <div ng-class="getSortClass('name')"></div>
                    </th>
                    <th ng-click="sortData('dateOfBirth')">
                        Date OF Birth
                        <div ng-class="getSortClass('dateOfBirth')"></div>
                    </th>
                    <th ng-click="sortData('gender')">
                        Gender
                        <div ng-class="getSortClass('gender')"></div>
                    </th>
                    <th ng-click="sortData('salary')">
                        Salary (number)
                        <div ng-class="getSortClass('salary')"></div>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in employees | orderBy : sortColumn : revertSort">
                    <!-- false + , ture -  -->
                    <td> {{emp.name | uppercase}} </td>
                    <td> {{emp.dateOfBirth | date:"dd/MM/yyyy"}} </td>
                    <td>
                        {{emp.gender | lowercase}}
                    </td>
                    <td>
                        {{emp.salary | number : 2}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>