<!doctype html>
<html lang="en" ng-app="myModule">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="./script7.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="myController">

    <div>

        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Likes
                    </th>
                    <th>
                        Dislikes
                    </th>
                    <th>
                        Like/Dislike
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tech in technologies">
                    <td> {{tech.name}} </td>
                    <td> {{tech.likes}} </td>
                    <td> {{tech.dislike}} </td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(tech)">

                        <input type="button" value="Dislike" ng-click="incrementDislikes(tech)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>