<!doctype html>
<html lang="en" ng-app="myModule">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="./script.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="myController">
    <div>

        Search : <input type="text" name="searchText" placeholder="Search Employees" id="" ng-model="searchText">
        <!-- searchText.city or searchText.name to sort name nad city only -->

        <br>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | filter:searchText">
                    <td> {{ employee.name }} </td>
                    <td> {{ employee.gender }} </td>
                    <td> {{ employee.salary }} </td>
                    <td> {{ employee.city }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>